<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aas -->
      <package
            uri="http://www.dfki.de/cos/basys/model/aas"
            class="de.dfki.cos.basys.aas.IAasPackage"
            genModel="model/aas.genmodel"/>
   </extension>

</plugin>
